[build]
  command = "cd hotel-management/frontend && npm install && npm run build"
  publish = "hotel-management/frontend/build"
  base = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

[context.production.environment]
  REACT_APP_API_URL = "https://hotel-management-system-5iby.onrender.com"

[context.deploy-preview.environment]
  REACT_APP_API_URL = "https://hotel-management-system-5iby.onrender.com"

